certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
DateTime==4.2
functools32==3.2.3.post2
idna==2.6
matplotlib==2.0.2
numpy==1.13.3
pandas==0.20.3
pkg-resources==0.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
six==1.11.0
subprocess32==3.2.7
urllib3==1.22
zope.interface==4.4.3
