certifi==2022.12.7
chardet==3.0.4
cycler==0.10.0
DateTime==4.2
functools32==3.2.3.post2
idna==2.6
matplotlib==2.0.2
numpy==1.13.3
pandas==0.20.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.20.0
six==1.11.0
subprocess32==3.2.7
urllib3==1.26.5
zope.interface==4.4.3
